server:
	host: 127.0.0.1
	port: 8000
	server_name: test

	location: /
		access_methods: GET

	location: /put_test/*
		access_methods: PUT

	location: /.bla

	location: /post_body
		access_methods: POST
		client_max_body_size: 100

	location: /directory/
		access_methods:	GET
		root:			YoupiBanane/
		index:			youpi.bad_extension
